<!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Welcome to Movie Groove!</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>


  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b><%= Review.random_review.title %></b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p> <%= Review.random_review.content %> </p> 
  </div>


  <!-- Services -->
 <div class="w3-container" id="services" style="margin-top:75px">
   <h1 class="w3-xxxlarge w3-text-red"><b>Services.</b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">
   <p>We are movie buffs that love all things movie related!</p>
   <p>Come check out reviews from our dedicated, trustworthy bunch of movie buffs or create your own.
     We have the experience that can handle all genres. Come join in and we will supply the popcorn!</p>
 </div>




 <!-- The Team -->
 <!-- Designers -->
 <div class="w3-container" id="designers" style="margin-top:75px">
   <h1 class="w3-xxxlarge w3-text-red"><b>The Team.</b></h1>
   <hr style="width:50px;border:5px solid red" class="w3-round">

 <div class="w3-row-padding w3-grayscale">
   <div class="w3-col m4 w3-margin-bottom">
     <div class="w3-light-grey">
       <img src="/w3images/team2.jpg" alt="Luke" style="width:100%">
       <div class="w3-container">
         <h3>Luke Skywalker</h3>
         <p class="w3-opacity">CEO & Founder</p>
         <p>Luke Skywalker was a Tatooine farmboy who rose from humble beginnings to become one of the greatest Jedi the galaxy has ever known.</p>
       </div>
     </div>
   </div>
   <div class="w3-col m4 w3-margin-bottom">
     <div class="w3-light-grey">
       <img src="/w3images/team1.jpg" alt="Baby Yoda" style="width:100%">
       <div class="w3-container">
         <h3>Baby Yoda</h3>
         <p class="w3-opacity">In Training</p>
         <p>Baby Yoda is small and 50 years old, but don't let age and size fool you! He is our newest up and coming groover!</p>
       </div>
     </div>
   </div>
   <div class="w3-col m4 w3-margin-bottom">
     <div class="w3-light-grey">
       <img src="/w3images/team3.jpg" alt="Obi Wan" style="width:100%">
       <div class="w3-container">
         <h3>Obi Wan Kenobi</h3>
         <p class="w3-opacity">Critic</p>
         <p>A legendary Jedi Master, Obi-Wan Kenobi He trained Anakin Skywalker, served as a general in the Republic Army during the Clone Wars, and guided Luke Skywalker as a mentor.</p>
       </div>
     </div>
   </div>
 </div>


 <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Do you want to contact us? Fill out the form and our team will be in touch.</p>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>
  </div>

<!-- End page content -->
</div>
